.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 243, 243, 0.92);
  z-index: 100;
}

.lightbox__container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

/* Média : vidéo et photo */
.lightbox__container__video,
.lightbox__container__photo {
  width: 1000px;
  max-width: 100%;
  height: 100%;
  grid-row: span 2;
  align-self: center;
  justify-self: center;
  background-color: white;
}
/* Média : photo */
.lightbox__container__photo {
  object-fit: scale-down;
  object-position: center;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* titre du média */
.lightbox__container__title {
  color: #901c1c;
  grid-column: 2;
  grid-row: 3;
  width: 1000px;
  max-width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  background-color: white;
  display: flex;
  align-items: center;
  text-indent: 16px;
}

/* boutons icones */
.lightbox__container__previous,
.lightbox__container__close,
.lightbox__container__next {
  border: none;
  background-color: transparent;
  color: #901c1c;
  font-size: 3rem;
  cursor: pointer;
  height: fit-content;
  align-self: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.lightbox__container__previous {
  grid-column: 1;
  grid-row: 2;
}
